
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Cactus-Taxonomy-Retrieval-primary: mat-palette($mat-indigo);
$Cactus-Taxonomy-Retrieval-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Cactus-Taxonomy-Retrieval-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Cactus-Taxonomy-Retrieval-theme: mat-light-theme($Cactus-Taxonomy-Retrieval-primary, $Cactus-Taxonomy-Retrieval-accent, $Cactus-Taxonomy-Retrieval-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Cactus-Taxonomy-Retrieval-theme);

/**
 * Demo Styles
 */

 html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }
  
  .demo {
    margin: 0 auto;
    padding-top: 64px;
    max-width: 640px;
    width: 94%;
  }
  
  .demo h1 {
    margin-top: 0;
  }
  
  /**
   * Footer Styles
   */
  
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
  }

  img{
    display: block;
    max-width:350px;
    max-height:300px;
    width: auto;
    height: auto;
}



/* Slideshow container */
.imgC {
  object-fit: cover; 
  width: 100% ;
  height: 250px;
  margin-top: 10px;
  display: block;

}


//  html, body { height: 100%; }
  @import url("https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css");


  .fade-in {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}}